<div class="row">
    <div class="col-md-4">
      <h3>Express Backend</h3>
      <p>A rock solid Node.js/Express server using Mongoose to organize models and query the database</p>
    </div>
    
    <div class="col-md-4">
      <h3>Angular-CLI</h3>
      <p>Angular-CLI to generate components, services and more. Local dev server and easy compilation</p>
    </div>
    
    <div class="col-md-4">
      <h3>JWT Tokens</h3>
      <p>Full featured authentication using JSON web tokens. Login and store user data</p>
    </div>

    <div class="col-md-4">
        <h3>PostgreSQL</h3>
        <p>Object-relational database management system with an emphasis on extensibility and standards compliance. PostgreSQL is ACID-compliant and transactional. PostgreSQL has updatable views and materialized views, triggers, foreign keys; supports functions and stored procedures, and other expandability.</p>
    </div>

    <div class="col-md-4">
            <h3>MongoDB</h3>
            <p>MongoDB is a cross-platform document-oriented database program. It is used for our user registration and authentication in order to keep the soil information and user information seperate.</p>
    </div>

    <div class="col-md-4">
        <h3>BCryptJS</h3>
        <p>Bcrypt is a password hashing function based on the Blowfish cipher. Incorporates a salt in order to prevent rainbow table attacks and provide more security.</p>
    </div>

    <div class="col-md-4">
        <h3>Material Design for Bootstrap</h3>
        <p>Material Design for Bootstrap (MDB) is a powerful Material Design UI KIT for most popular HTML, CSS, and JS framework.</p>
    </div> 


  </div>

