<!--<div *ngIf="user">
  <h2 class="page-header">{{user.name}}</h2>
  <ul class="list-group">
    <li class="list-group-item">Username: {{user.username}}</li>
    <li class="list-group-item">Email: {{user.email}}</li>
  </ul>
</div>
-->
<div id="qList"></div>
<a class="nav-link" href="http://localhost:8080/profile#q1">Query One</a>
<a class="nav-link" href="http://localhost:8080/profile#q2">Query Two</a>
<a class="nav-link" href="http://localhost:8080/profile#q3">Query Three</a>
<div class="app-component" id="q1">
    <h1 class="text-center">Lassen National Park Map Unit information</h1>
    <app-table></app-table>
</div>

<a class="nav-link" href="http://localhost:8080/profile#qList">Back to top of page</a>

<div class="app-component" id="q2">
    <h1 class="text-center">Soil Taxonomy in Lassen National Park</h1>
    <app-table1></app-table1>
</div>
<a class="nav-link" href="http://localhost:8080/profile#qList">Back to top of page</a>
<div class="app-component" id="q3">
    <h1 class="text-center">Ecological Site by Area Symbol</h1>
    <app-table2></app-table2>
</div>
<a class="nav-link" href="http://localhost:8080/profile#qList">Back to top of page</a>