<div *ngIf="user">
  <h2 class="page-header">{{user.name}}</h2>
  <ul class="list-group">
    <li class="list-group-item">Username: {{user.username}}</li>
    <li class="list-group-item">Email: {{user.email}}</li>
  </ul>
</div>

<div class="app-component">
    <h1 class="text-center">Lassen National Park Map Unit information</h1>
    <app-table></app-table>
</div>

<div class="app-component">
    <h1 class="text-center">Soil Taxonomy in Lassen National Park</h1>
    <app-table1></app-table1>
</div>