
    <!-- Grid row -->
    <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mb-3">
      
          <img src="../../assets/789207_4.jpg" class="img-fluid z-depth-1"
            alt="Responsive image">
      
        </div>
        <!-- Grid column -->
      
        <!-- Grid column -->
        <div class="col-md-6 mb-3">
      
          <img src="../../assets/LAVO_IFR_field_crew_edited.jpg" class="img-fluid z-depth-1"
            alt="Responsive image">
      
        </div>
        <!-- Grid column -->
      
      </div>
      <!-- Grid row -->
  
  <!-- Grid row -->
  <div class="row">
  
    <!-- Grid column -->
    <div class="col-lg-4 col-md-12 mb-3">
  
      <img src="../../assets/789212_1.jpg" class="img-fluid z-depth-1"
        alt="Responsive image">
  
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-3">
  
      <img src="../../assets/789212_3.jpg" class="img-fluid z-depth-1"
        alt="Responsive image">
  
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-3">
  
      <img src="../../assets/IMG_0392.jpg" class="img-fluid z-depth-1"
        alt="Responsive image">
  
    </div>
    <!-- Grid column -->
  
  </div>
  <!-- Grid row -->
  
  <!-- Grid row -->
  <div class="row">
  
    <!-- Grid column -->
    <div class="col-md-6 mb-3">
  
      <img src="../../assets/IMG_0409.jpg" class="img-fluid z-depth-1"
        alt="Responsive image">
  
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="col-md-6 mb-3">
  
      <img src="../../assets/IMG_2914.jpg" class="img-fluid z-depth-1"
        alt="Responsive image">
  
    </div>
    <!-- Grid column -->
  
  </div>
  <!-- Grid row -->