<!--Navbar-->
<nav class ="navbar sticky-top navbar-expand-lg navbar-dark unique-color">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" [routerLink] = "['/']">Soil Explorer</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" [routerLinkActive] = "['active']" [routerLinkActiveOptions] = "{exact:true}"><a class="nav-link waves-light" mdbWavesEffect [routerLink] = "['/']">Home</a></li>
            <li *ngIf="authService.loggedIn()" class="nav-item" [routerLinkActive] = "['active']" [routerLinkActiveOptions] = "{exact:true}" ><a class="nav-link waves-light" mdbWavesEffect [routerLink] = "['/profile']">Queries</a></li>
            <li *ngIf="authService.loggedIn()" class="nav-item" [routerLinkActive] = "['active']" [routerLinkActiveOptions] = "{exact:true}" ><a class="nav-link waves-light" mdbWavesEffect [routerLink] = "['/dashboard']">Dashboard</a></li>
            <li *ngIf="!authService.loggedIn()" class="nav-item" [routerLinkActive] = "['active']" [routerLinkActiveOptions] = "{exact:true}" ><a class="nav-link waves-light" mdbWavesEffect [routerLink] = "['/login']">Login</a></li>
            <li *ngIf="!authService.loggedIn()" class="nav-item" [routerLinkActive] = "['active']" [routerLinkActiveOptions] = "{exact:true}" ><a class="nav-link waves-light" mdbWavesEffect [routerLink] = "['/techdetails']">Technical Details</a></li>
            <li *ngIf="!authService.loggedIn()" class="nav-item" [routerLinkActive] = "['active']" [routerLinkActiveOptions] = "{exact:true}" ><a class="nav-link waves-light" mdbWavesEffect [routerLink] = "['/register']">Register</a></li>
            <li *ngIf="authService.loggedIn()" class="nav-item"><a class="nav-link waves-light" mdbWavesEffect (click)="onLogoutClick()" href="#">Logout</a></li>
        </ul>
        <!-- Links -->
    </links>
    <!-- Collapsible content -->

</nav>
<!--/.Navbar-->
